table.dataTable thead {
  vertical-align: bottom;
  background-color: #0088cc;
  border-bottom: 1px solid black;
  border-right: 1px solid #ddd;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  padding: 3px 10px;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable tbody th, table.dataTable tbody td  {
    padding: 5px 18px;
}

table.dataTable {
	border-color: #ddd #ddd #ddd -moz-use-text-color;
}

.dataTables_wrapper {
    margin-top: 20px;
}

table.dataTable.no-footer {
    border: 1px solid #ddd;
}

.table-bordered th, .table-bordered td, .table-bordered {
    border-left: 1px solid #ddd;
}

.small-icon {
	padding: 2px 10px;	
}

.form-actions {
    background-color: #d9edf7;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 68px;
}
.search-only .search-icon {
	top : 22px !important;
}

.selecter_cover {
	height: 34px;
	width: 200px;
	border-radius: 4px;
	border: 1px solid #ccc;
}
